body {
	font-family: 'Times New Roman', Times, serif;
	font-style: unset;
  
}

#headerku {
	background-color: #820000 !important;
}

#iconBurger {
	color: white !important;
}
.Contact{
	background-color: yellow;
	border-radius: 50px;
}